.row{
    width: 800px;
    flex-wrap: wrap;
}

.box{
    width:calc(100% / 10);
    aspect-ratio: 1;
    border: 1px solid black;
    cursor: pointer;
}

.active{
    background-color: lightblue;
}

